@font-face {
  font-family: "WhiteDream";
  src: url("./Fuentes/WhiteDream.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "playwrite";
  src: url("./Fuentes/Playwrite.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.navbar-nav .nav-item {
  margin-right: 45px; /* Espacio entre cada sección */
}

.semblanza {
  font-family: "relationship", sans-serif;
  color: rgb(0, 0, 0); /* Color del texto */
  text-align: center;
  font-size: 35px;
  padding: 2px; /* Añade espacio interno alrededor del contenido */
}

@font-face {
  font-family: "robotomono";
  src: url("./Fuentes/RobotoMono.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: "relationship";
  src: url("./Fuentes/Relationship.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: "hibiscus";
  src: url("./Fuentes/Hibiscus.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: "stagera";
  src: url("./Fuentes/Stagera.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "ananda";
  src: url("./Fuentes/Ananda.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "coolvetica";
  src: url("./Fuentes/coolvetica.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "paradise";
  src: url("./Fuentes/ParadiseSilhouette.otf") format("truetype");
  font-weight: bold;
  font-style: bold;
}

@font-face {
  font-family: "gilton";
  src: url("./Fuentes/GiltonBold.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "highway";
  src: url("./Fuentes/HWYGWDE.TTF") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "carvin2";
  src: url("./Fuentes/MADECarvingSoftPERSONALUSE-Regular.otf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* Body es el que se encarga del color de fondo de todas las páginas  */
body {
  height: 100%;
  margin: 0;
  background: linear-gradient(
    135deg,
    rgb(255, 255, 255) 10%,
    rgb(220, 220, 220) 50%,
    rgb(184, 184, 184) 100%
  );
  font-family: "Arial", sans-serif;
}

h1 {
  color: #333;
}

/* Estas clases se encargan de las seccione del menu de navegación  */
.nav-link.active {
  font-weight: bold;
}
.navbar-nav .nav-link {
  font-family: "playwrite", sans-serif;
  color: rgb(255, 255, 255); /* Color del texto   color: rgb(255, 255, 255);  */
  font-size: 22px;
  transition: border-bottom 0.3s ease; /* Transición suave para la línea */
  border-bottom: 2px solid transparent; /* Línea invisible por defecto */
  padding-bottom: 5px; /* Espacio para la línea */
}
.navbar-nav .nav-link:hover,
.navbar-nav .nav-link:focus {
  border-bottom: 2px solid blue; /* Línea azul al pasar el ratón o al seleccionar */
}
.navbar-nav .nav-link.active {
  border-bottom: 2px solid blue; /* Línea azul para el enlace activo */
  color: rgb(255, 255, 255); /* Asegura que el texto se mantenga visible */
}

.contenedorNAV {
  background-color: #6e0c59; /* Color de fondo del menu 029292  f4bdff C2B280 */
  padding: 6x; /* Añade espacio interno alrededor del contenido */
  border: 0px solid #ffffff; /* Borde para diferenciar el div */
}
.footer {
  font-family: "playwrite", sans-serif;
  background-color: #6e0c59;
}

.titulos {
  font-family: "paradise", sans-serif;
  color: rgb(255, 255, 255); /* Color del texto */
  text-align: center;
  background-color: #451e4c; /* Color de fondo verde */
  padding: 2px; /* Añade espacio interno alrededor del contenido */
}

.tit1 {
  font-family: "highway", sans-serif;
  color: rgb(0, 0, 0); /* Color del texto */
  text-align: center;
  text-shadow: -1px -1px 0 white,
    /* Sombra superior izquierda */ 1px -1px 0 white,
    /* Sombra superior derecha */ -1px 1px 0 white,
    /* Sombra inferior izquierda */ 1px 1px 0 white;
}

.tit2 {
  font-family: "carvin2", sans-serif;
  color: rgb(0, 0, 0); /* Color del texto */
  text-align: center;
}

.tit3 {
  font-family: "gilton", sans-serif;
  color: rgb(0, 0, 0); /* Color del texto */
  text-align: center;
  text-shadow: -1px -1px 0 white,
    /* Sombra superior izquierda */ 1px -1px 0 white,
    /* Sombra superior derecha */ -1px 1px 0 white,
    /* Sombra inferior izquierda */ 1px 1px 0 white;
}
.tit4 {
  font-family: "carvin2", sans-serif;
  color: rgb(0, 0, 0); /* Color del texto */
  font-size: 20px;
}

.image-strip {
  display: flex; /* Hace que las imágenes se alineen horizontalmente */
  justify-content: center; /* Centra la tira de imágenes */
  gap: 10px; /* Espaciado entre imágenes */
  padding: 20px;
}

.image-strip img {
  width: auto; /* Ajusta el tamaño de las imágenes */
  height: 200px;
  border-radius: 8px; /* Bordes redondeados opcionales */
}

.tiradeimagenes {
  width: 180px; /* Ajusta el tamaño de las imágenes */
  height: 180px;

  border-radius: 8px; /* Bordes redondeados opcionales */
}

a {
  font-family: "carvin2", sans-serif;
  color: #000000;
  font-size: 30px;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Estilos para la lista de artículos */

.articulosdiv {
  margin: 20px;
  margin-right: 70px;
  border-radius: 8px;
  color: rgb(145, 128, 128);
}
.card {
  background-color: #6e0c59;
  color: rgb(255, 255, 255);
  width: 18rem;
}
.card-body a {
  background-color: #6e0c59;
  color: rgb(255, 255, 255); /* Cambiar el color del botón a blanco */
}
.menulist {
  font-family: "oswald", sans-serif;
  color: #833f3f;
  list-style: none;
}

.parrafos {
  font-family: "Times New Roman", serif;
  color: rgb(0, 0, 0);
  font-size: 20px;
  text-align: justify;
  padding-left: 10vw;
  padding-right: 10vw;
  line-height: 1.6;
}

@media (max-width: 768px) {
  .parrafos {
    padding-left: 5vw;
    padding-right: 5vw;
    font-size: 18px; /* Opcional: texto un poco más chico en móvil */
  }
}

.ImgLogoCA {
  width: 190px;
  height: 150px;
  object-fit: cover;
}

.contenidovisual {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
}

.spotify-podcast {
  display: flex;
  justify-content: center; /* Centra el contenido horizontalmente */
  align-items: center; /* Centra el contenido verticalmente */
}

.spotify-podcast iframe {
  border-radius: 12px; /* Redondea las esquinas del iframe */
  width: 80%; /* Reduce el ancho del iframe al 80% del contenedor */
  height: 232px; /* Ajusta la altura del iframe */
}

.link-no-style {
  color: inherit; /* Hereda el color del texto circundante */
  font-size: inherit; /* Hereda el tamaño del texto circundante */
  text-decoration: none; /* Elimina el subrayado del enlace */
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.contenedor {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.columna {
  flex: 1;
  padding: 20px;
  text-align: center;
  border: 0px solid #ddd;
}
.columacards {
  flex: 0.6;
  padding: 20px;
  justify-content: center;
  border: 0px solid #ddd;
}
.columaarticulos {
  flex: 1;
  padding: 20px;
  justify-content: center;
  border: 0px solid #ddd;
}

/* La columna del medio será más angosta */
.medio {
  flex: 0.1;
}

/* para columnas que hagan un espacio en los laterales */
.laterales {
  flex: 0.5;
}

/* para columnas que hagan un espacio en los laterales */
.lateralesgrandes {
  flex: 0.8;
}

/* para columnas que guardaran las imagenes cuadradas de la pagina principal */
.tiradefotos {
  flex: 0.4;
}
.dobletiradefotos {
  display: flex; /* Asegura que las imágenes se alineen en fila */
  justify-content: center; /* Opcional: centra las imágenes */
  gap: 15px; /* Espaciado entre imágenes */
  flex: 1;
}

/* Estilos para la imagen redonda de Publicaciones*/
.imagen-redonda {
  width: 370px;
  height: 370px;
  border-radius: 50%;
  object-fit: cover; /* Ajusta la imagen sin deformarla */
  border: 3px solid #333;
  margin-bottom: 10px;
}
/* Estilos para la imagen redonda de ACTIVIDADES*/
.imagen-redonda2 {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  object-fit: cover; /* Ajusta la imagen sin deformarla */
  border: 3px solid #333;
  margin-bottom: 10px;
}

/* Estilos para el enlace debajo de la imagen */
.enlace {
  display: block;
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-size: 30px;
  font-weight: bold;
  margin-top: 5px;
}

.enlace:hover {
  text-decoration: underline;
  color: darkblue;
}

/* Diseño para pantallas pequeñas */
@media (max-width: 768px) {
  .contenedor {
    flex-direction: column;
  }
  .columna {
    flex: none;
    width: 100%;
  }
}

.audio-morado {
  width: 200px; /* Ajusta el tamaño de la barra */
  background-color: #5f106b; /* Color morado */
  border: none;
  border-radius: 5px;
}

.audio-morado::-webkit-media-controls-panel {
  background-color: #e1cd31; /* Fondo morado para los controles */
}

.audio-morado::-webkit-media-controls-play-button {
  background-color: e1cd31; /* Color blanco para el botón de play */
}

.audio-morado::-webkit-media-controls-volume-slider {
  background-color: white; /* Color blanco para el control de volumen */
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='white' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.article-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}

.article-item {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
  border-bottom: 1px solid #ccc;
  padding-bottom: 0.5rem;
}

.article-item a {
  display: flex;
  text-decoration: none;
  color: inherit;
  gap: 1rem;
}

.pdf-icon {
  width: 10px;
  height: 50px;
  flex-shrink: 0;
}

.article-text {
  flex: 1;
  font-size: 0.95rem;
  line-height: 1.4;
}

.contenedor-collage {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.contenedor-collage img {
  max-width: 100%;
  height: auto;
  width: 800px; /* Tamaño grande en pantallas grandes */
}

@media (max-width: 768px) {
  .contenedor-collage img {
    width: 100%; /* En pantallas pequeñas ocupa todo el ancho disponible */
  }
}

.contenedor-programaspdf {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.contenedor-programaspdf iframe {
  width: 60vw; /* 90% del ancho visible */
  height: 140vh; /* 80% del alto visible */
  border: none;
}

@media (max-width: 600px) {
  .contenedor-programaspdf iframe {
    width: 100vw;
    height: 70vh; /* Usa casi toda la pantalla en móviles */
  }
}

.tesistascentrar {
  text-align: center;
}
